/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html,
body {
  height: 100%;

}
body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;


}
.backimg{
  position: absolute;

}
.post-body entry-content {
  display: none;
}
.tooltip {
  font-size: medium;
}

.hidden {
  display: none!important;
}

.mat-tab-body{
  overflow: hidden!important;
}
@media screen and (max-width: 150%){
  html{
    float: left;
    padding:0;
    width: 94%;
    margin:3%
  }
}
